<div [ngClass]="seleccionada==fotografia?'item-fotografia-seleccionada':'item-fotografia'"
[routerLink]="['/home', fotografia.numero]"
[style.background-image]="'url(' + url + 'get-fotografia/' + fotografia.imagen + '/true)'">
    
    <div class="detalle-fotografia">
        <div class="linea"></div>
        <div class="numero">
            {{fotografia.numero}}
        </div>
        <div class="autor">
            {{fotografia.autor}}
        </div>
    </div>
    
    <div class="item-fotografia-hover" *ngIf="seleccionada!=fotografia"></div>
</div>